Source: plank
Section: utils
Priority: optional
Maintainer: Rico Tzschichholz <ricotz@ubuntu.com>
Uploaders: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>,
           Mike Gabriel <sunweaver@debian.org>,
Build-Depends: debhelper (>= 11),
               gnome-common,
               meson,
               valac (>= 0.34.0),
               libbamf3-dev (>= 0.5),
               libcairo2-dev (>= 1.13.0),
               libdbusmenu-gtk3-dev (>= 0.6.2),
               libgdk-pixbuf2.0-dev (>= 2.26.0),
               libgee-0.8-dev,
               libglib2.0-dev (>= 2.40.0),
               libgnome-menu-3-dev,
               libgranite-dev (>= 5.4.0),
               libgtk-3-dev (>= 3.10.0),
               libwnck-3-dev,
               libxml2-utils,
               libx11-dev,
               at-spi2-core,
               dbus-x11,
               xvfb,
               help2man,
               valadoc,
               gtk-doc-tools
Vcs-Git: https://anonscm.debian.org/git/pkg-mate/plank.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-mate/plank.git/
Homepage: https://launchpad.net/plank
Standards-Version: 4.5.0

Package: plank
Architecture: any
Depends: libplank1 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: libplank-doc
Multi-Arch: foreign
Description: Elegant, simple, clean dock
 Plank is a dock enabling you to start applications and manage your windows.
 .
 Plank is meant to be the simplest dock on the planet. The goal is to
 provide just what a dock needs and absolutely nothing more. It is,
 however, a library which can be extended to create other dock programs
 with more advanced features.

Package: libplank1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         libplank-common (= ${source:Version}),
         bamfdaemon,
         ${misc:Depends}
Multi-Arch: same
Description: Library to build an elegant, simple, clean dock
 Plank is a dock enabling you to start applications and manage your windows.
 .
 Plank is meant to be the simplest dock on the planet. The goal is to
 provide just what a dock needs and absolutely nothing more. It is,
 however, a library which can be extended to create other dock programs
 with more advanced features.
 .
 This package contains the shared library used by docks based on Plank.

Package: libplank-dev
Suggests: libplank-doc
Architecture: any
Section: libdevel
Depends: libplank1 (= ${binary:Version}),
         libbamf3-dev (>= 0.2.92),
         libcairo2-dev (>= 1.10.0),
         libgdk-pixbuf2.0-dev (>= 2.26.0),
         libgee-0.8-dev,
         libglib2.0-dev (>= 2.40.0),
         libgtk-3-dev (>= 3.10.0),
         ${misc:Depends}
Description: Library to build an elegant, simple, clean dock (development files)
 Plank is a dock enabling you to start applications and manage your windows.
 .
 Plank is meant to be the simplest dock on the planet. The goal is to
 provide just what a dock needs and absolutely nothing more. It is,
 however, a library which can be extended to create other dock programs
 with more advanced features.
 .
 This package contains the development files to build docks based on Plank.

Package: libplank-common
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Library to build an elegant, simple, clean dock (shared files)
 Plank is a dock enabling you to start applications and manage your windows.
 .
 Plank is meant to be the simplest dock on the planet. The goal is to
 provide just what a dock needs and absolutely nothing more. It is,
 however, a library which can be extended to create other dock programs
 with more advanced features.
 .
 This package contains the architecture-independent files.

Package: libplank-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: devhelp
Description: Library to build an elegant, simple, clean dock (documentation)
 Plank is a dock enabling you to start applications and manage your windows.
 .
 Plank is meant to be the simplest dock on the planet. The goal is to
 provide just what a dock needs and absolutely nothing more. It is,
 however, a library which can be extended to create other dock programs
 with more advanced features.
 .
 This package contains the documentation.
