Source: io.elementary.dock
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libadwaita-1-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.dock
Architecture: any
Depends: gala (>= 6.3.2), ${misc:Depends}, ${shlibs:Depends}
Description: Launch commonly used apps
