/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

launcher {
    padding: 6px;
}

launcher progressbar {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

launcher progressbar trough {
    background: #333;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    min-height: 3px;
    padding: 1px;
}

launcher progressbar progress {
    background: white;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    margin: 0;
    min-height: 3px;
    min-width: 0;
}
