/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

dock {
    background: alpha(@bg_color, 0.6);
    border-radius: 9px;
    box-shadow:
        inset 0 -1px 0 0 alpha(@highlight_color, 0.1),
        inset 0 1px 0 0 alpha(@highlight_color, 0.15),
        inset 1px 0 0 0 alpha(@highlight_color, 0.035),
        inset -1px 0 0 0 alpha(@highlight_color, 0.035),
        0 0 0 1px alpha(@borders, 0.4),
        0 1px 3px alpha(black, 0.10),
        0 3px 9px alpha(black, 0.15);
    margin: 9px;
    margin-top: 0;
}

launcher {
    padding: 6px;
}

launcher progressbar {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

launcher progressbar trough {
    background: #333;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    min-height: 3px;
    padding: 1px;
}

launcher progressbar progress {
    background: white;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    margin: 0;
    min-height: 3px;
    min-width: 0;
}

.running-indicator {
    color: @selected_fg_color;
    -gtk-icon-size: 9px;
    margin-bottom: -6px;
}
