/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023-2025 elementary, Inc. (https://elementary.io)
 */

dock {
    background: @bg_color;
    border-radius: 9px;
    box-shadow:
        inset 0 -1px 0 0 alpha(@highlight_color, 0.2),
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07),
        0 0 0 1px @borders,
        0 1px 3px alpha(black, 0.2),
        0 3px 9px alpha(black, 0.3);
    opacity: 0.6;
    padding: 9px;
}

.reduce-transparency dock {
    opacity: 1;
}

dock-window:not(.reduce-transparency) separator.vertical {
    border-right-color: alpha(@highlight_color, 0.15);
}

dock-window {
    margin-top: 64px; /* Keep enough room so that icons don't clip when bouncing */
}

bottom-margin {
    min-height: 9px;
}

launcher {
    padding: 6px;
    padding-bottom: 0px;
}

launcher progressbar {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

launcher progressbar trough {
    background: #333;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    min-height: 3px;
    padding: 1px;
}

launcher progressbar progress {
    background: white;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    margin: 0;
    min-height: 3px;
    min-width: 0;
}

tooltip {
    margin-bottom: 0.5em;
}

backgrounditem,
icongroup {
    padding: 6px;
    padding-bottom: 0;
}

icongroup .icon-group-box {
    background: alpha(@base_color, 0.4);
    box-shadow:
        inset 0 -1px 0 0 alpha(@highlight_color, 0.2),
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07),
        0 0 0 1px alpha(@borders, 0.3),
        0 1px 1px alpha(@borders, 0.2),
        0 1px 4px alpha(@borders, 0.4);
    border-radius: 6px;
    border-spacing: 3px;
}

.reduce-transparency icongroup box {
    background: @base_color;
}

icongroup .add-image {
    color: alpha(@selected_fg_color, 0.75);
    -gtk-icon-shadow: 0 1px 0 alpha(@highlight_color, 0.2);
}

backgrounditem header {
    padding: 0.5em 1em;
}

/*Workaround for bug with headers in popover*/
backgrounditem header .heading {
    margin: 0;
}

backgrounditem .close-button {
    padding: 0.125em;
}

.reduce-transparency .add-image {
    color: @selected_fg_color;
}

.running-indicator {
    color: @selected_fg_color;
    -gtk-icon-size: 9px;
}

.running-indicator:disabled {
    color: @fg_color;
}
