/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

dock {
    background: @bg_color;
    transition: background 800ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 9px;
    box-shadow:
        inset 0 -1px 0 0 alpha(@highlight_color, 0.2),
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07),
        0 0 0 1px @borders,
        0 1px 3px alpha(black, 0.2),
        0 3px 9px alpha(black, 0.3);
    opacity: 0.6;
    padding: 9px;
}

dock.reduce-transparency {
    opacity: 1;
}

dock-window {
    margin-top: 64px; /* Keep enough room so that icons don't clip when bouncing */
}

bottom-margin {
    min-height: 9px;
}

launcher {
    padding: 6px;
    padding-bottom: 0px;
}

launcher progressbar {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

launcher progressbar trough {
    background: #333;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    min-height: 3px;
    padding: 1px;
}

launcher progressbar progress {
    background: white;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    margin: 0;
    min-height: 3px;
    min-width: 0;
}

.running-indicator {
    color: @selected_fg_color;
    transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
    -gtk-icon-size: 9px;
}

.running-indicator:disabled {
    color: @text_color;
}
