/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2022 elementary, Inc. (https://elementary.io)
 */

launcher {
    padding: 6px;
}

.bounce {
    animation: bounce 200ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        transform: translatey(0);
    }
    to {
        transform: translatey(-20px);
    }
}
