/*
 * SPDX-License-Identifier: GPL-3.0
 * SPDX-FileCopyrightText: 2022 elementary, Inc. (https://elementary.io)
 */

launcher {
    padding: 6px;
    padding-top: 0;
    margin-top: -32px;
}

launcher image {
    -gtk-icon-size: 48px;
}

.bounce {
    animation: bounce 400ms;
}

@keyframes bounce {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0);
    }
}
