name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: elementary/docker:next-unstable
    
    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libgtk-4-dev meson valac
    - name: Build
      run: |
        meson build
        ninja -C build
        ninja -C build install

  lint:
    runs-on: ubuntu-latest
    
    container:
      image: valalang/lint
      
    steps:
    - uses: actions/checkout@v3
    - name: Lint
      run: io.elementary.vala-lint -d .
